<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
    <h3>Person Information:</h3>
    <div>
        <p th:text="'Name: ' + ${person.getName()}">VALUE</p>
        <p th:text="'Year: ' + ${person.getDate()}">VALUE</p>
    </div>

<!--    <div th:text="${bookList.get(0).getName()}"></div>-->

    <div th:each="book : ${bookList}">
        <form th:method="PATCH" th:action="@{/people/release/{id}(id=${book.getId()})}">
            <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getAuthor() + ' | ' + book.getName()}">list</a>
            <input type="submit" value="Release">
        </form>
    </div>

    <hr>
    <br>
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="EDIT">
    </form>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="DELETE"/>
    </form>
</body>
</html>