<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appoint Page</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/app/{id}(id=${book_id})}">
    <label for="person">Choose person:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
    </select>

    <div style="color:red" th:if="${#fields.hasErrors('book_id')}" th:errors="*{book_id}">
        error
    </div>
    <input type="submit" value="appoint admin"/>
</form>
</body>
</html>