<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Page</title>
</head>
<body>
    <h3>Book Information</h3>
<div>
    <span>Name:</span>
    <b><span th:utext="${book.getName()}">Name</span></b>
    <br>
    <span>Author:</span>
    <b><span th:utext="${book.getAuthor()}">Author</span></b>
    <br>
    <span>Year:</span>
    <b><span th:utext="${book.getYear()}">Year</span></b>
    <br>

    <div th:switch="${isBookFree}">
        <div th:case="true">
        <form th:action="@{/books/{id}/appoint(id=${book.getId()})}">
            <button>Appoint</button>
        </form>
        </div>
        <div th:case="false">
            <p th:text="'Book is appointed to ' + ${order}">smth</p>
        </div>
    </div>

<!--    <button th:href="@{/books/{id}/appoint(id=${book.getId()})}">APPOINT</button>-->

    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="EDIT">
    </form>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="DELETE"/>
    </form>
</div>
</body>
</html>