<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Page</title>
</head>
<body>
<h2>Book Information</h2>
<div>
    <span>Name:</span>
    <b><span th:utext="${book.getName()}">Name</span></b>
    <br>
    <span>Author:</span>
    <b><span th:utext="${book.getAuthor()}">Author</span></b>
    <br>
    <span>Year:</span>
    <b><span th:utext="${book.getYear()}">Year</span></b>
    <br>

    <a th:href="@{/books/{id}/appoint(id=${book.getId()})}">APPOINT</a>

    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="EDIT">
    </form>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="DELETE"/>
    </form>
</div>
</body>
</html>