<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <form th:method="GET" th:action="@{/books/search}">
        <label for="title">Search</label>
        <input id="title" type="search" name="title">
        <input type="submit">
    </form>

    <hr>

    <div th:each="book : ${books}">
        <div>
            <p th:text="${book.getName()}"></p>
            <div th:switch="${book.getOwner()!=null}">
                <div th:case="true">
                    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getOwner().getName()} + ', ' + ${book.getDate()}"></a>
                </div>
                <p th:case="false" th:text="'No owner'"></p>
            </div>
        </div>
    </div>
</body>
</html>